
body{
    margin:0;
    padding:0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#pagina{
    width:70%;
    text-align:center;     /*banner centrado*/ 
}
#cab{
    margin-bottom:10px;
}
#banner{
  height: 200px;
}
#main_content{
    display: flex;
    justify-content: center;
    clear: left; /* nav bar sticky */
}

#menuEsquerra{
    width:20%;
    background:#D2D6DC;
    text-align:left;
}
#contingut{
    width:80%;
    background:#E7E7E7;
    text-align:left;
}
#pie{
    
    background-color: blue;
    color: white;
    text-align: right;
    width: 100%;
}
#pie-text{
  padding: 10px;
}
#cont_flex{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    margin: 5px;
    padding: 5px;
    width: 98%;
}
#elem1{
    width: 35%;
    height: 100px;
    background-color: grey;
}
#elem2{
    width: 55%;
    background-color: orange;
}
/*Navigation Bar (Menu navegacion horizontal)*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*Nav Bar Sticky*/
    /* overflow: hidden; */ /* Viene en el codigo de W3schools, pero es problemático */
    position: sticky;
    top: 0;
    /*Nav Bar Sticky*/
    background-color: #333;
    font-size: x-large;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  article{
    margin: 10px;
    padding: 10px;
  }
  /*menu vertical*/
  .vertical-menu {
    width: 200px;
    margin-top: 30px;
    font-size: x-large;
  }
  
  .vertical-menu a {
    background-color: #333;;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: red;
  }


  /*Fondo web*/
  .bg-img {
    background-image: url("../img/background2.png");
    min-height: 380px; /*En el caso de que la web no tenga contenido*/
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

  /*Nav bar sticky*/

  #navbar {
    /*overflow: hidden;*/  /* Viene en el codigo de W3schools, pero es problemático */
    position: sticky;
    top: 0;
    background-color: #333;
  }
  
    /* Navbar links */
  #navbar ul {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
    
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /*
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  /*.sticky + .content {
    padding-top: 60px;
  } */     /* Viene en el codigo de W3schools, pero no es necesario */