
body{
    margin:0;
    padding:0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#pagina{
    width:70%;
    /* margin:auto; */
    text-align:center;
    /* height:100%; */

    /* position:absolute; */
    /* top:0px; */
    /* left: 50%; */

    /* margin-left:-390px;
    margin-top:0px; */
    
    
}
#cab{
    margin-bottom:10px;
    /* height: 100px; */
}

#menuEsquerra{
    float:left;
    background:#D2D6DC;
    width:20%;
    text-align:left;
}
#contingut{
    background:#E7E7E7;
    text-align:left;
}
#menuEsquerra, #contingut{
    height:800px;/*Només per l'exemple de maquetació*/
}
#pie{
    height:100px;/*Només per l'exemple de maquetació*/
    background-color: blue;
    color: white;
    text-align: right;
    padding:10px;
}
#cont_flex{
    display: flex;
    justify-content: left;
    background-color: aquamarine;
    margin: 5px;
    padding: 5px;
}
/* article>div{
    width: 40%;
    background-color: blue;
    color: #D2D6DC;
} */
#elem1{
    width: 30%;
    height: 100px;
    background-color: grey;
}
#elem2{
    width: 70%;
    background-color: orange;
}